# Project 3: Neo4j Code Portion

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

## Group: Kara Christensen, Negin Djalali, Gray Selby, Yidai Yao

### Start with setup code (importing libraries and setting up connections

In [1]:
import neo4j

import csv
import json
import openpyxl

import math
import numpy as np
import pandas as pd

import psycopg2

#### Postgres

In [ ]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [ ]:
cursor = connection.cursor()

#### Neo4j

In [32]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [33]:
session = driver.session(database="neo4j")

### Load in Ridership Data from BART (IN PROGRESS, NOT CURRENTLY USED)

In [9]:
def my_export_excel_work_book_sheet_to_csv(excel_file_name, sheet_name, csv_file_name):
    "open the excel file, find the sheet_name, export to csv file "
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nExtracting Work Sheet", sheet_name, "to", csv_file_name, "\n")
    
    f = open(csv_file_name, "w")    
    writer = csv.writer(f)
    writer.writerows(work_sheet_list)
    f.close()

In [13]:
my_export_excel_work_book_sheet_to_csv('Ridership_202309.xlsx', 'Total Trips OD', 'Sept2023Riders.csv')
my_export_excel_work_book_sheet_to_csv('Ridership_202310.xlsx', 'Total Trips OD', 'Oct2023Riders.csv')
my_export_excel_work_book_sheet_to_csv('Ridership_202311.xlsx', 'Total Trips OD', 'Nov2023Riders.csv')

Excel Workbook: Ridership_202309.xlsx

Work Sheet: Total Trips OD

Number of Columns: 52

Number of Rows: 52

Extracting Work Sheet Total Trips OD to Sept2023Riders.csv


Excel Workbook: Ridership_202310.xlsx

Work Sheet: Total Trips OD

Number of Columns: 52

Number of Rows: 52

Extracting Work Sheet Total Trips OD to Oct2023Riders.csv


Excel Workbook: Ridership_202311.xlsx

Work Sheet: Total Trips OD

Number of Columns: 52

Number of Rows: 52

Extracting Work Sheet Total Trips OD to Nov2023Riders.csv

In [16]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [28]:
#
# drop all the temp tables in the foreign key order
#

connection.rollback()

query = """

drop table if exists septRiders;
drop table if exists octRiders;
drop table if exists novRiders;

"""

cursor.execute(query)

connection.commit()

In [29]:
#
# create all the temp tables in the foreign key order
#

connection.rollback()

query = """

create table septRiders (
    Station varchar(32), 
    "RM" numeric(6), 
    EN numeric(6), 
    EP numeric(6), 
    NB numeric(6), 
    BK numeric(6), 
    "AS" numeric(6), 
    MA numeric(6), 
    "19" numeric(6), 
    "12" numeric(6), 
    LM numeric(6), 
    FV numeric(6), 
    CL numeric(6), 
    SL numeric(6), 
    BF numeric(6), 
    HY numeric(6), 
    SH numeric(6), 
    UC numeric(6), 
    FM numeric(6), 
    CN numeric(6), 
    PH numeric(6), 
    WC numeric(6), 
    LF numeric(6), 
    "OR" numeric(6), 
    RR numeric(6), 
    OW numeric(6), 
    EM numeric(6), 
    MT numeric(6), 
    PL numeric(6), 
    CC numeric(6), 
    "16" numeric(6), 
    "24" numeric(6), 
    GP numeric(6), 
    BP numeric(6), 
    DC numeric(6), 
    CM numeric(6), 
    CV numeric(6), 
    ED numeric(6), 
    NC numeric(6), 
    WP numeric(6), 
    SS numeric(6), 
    SB numeric(6), 
    SO numeric(6), 
    MB numeric(6), 
    WD numeric(6), 
    OA numeric(6), 
    WS numeric(6), 
    ML numeric(6), 
    BE numeric(6), 
    PC numeric(6), 
    AN numeric(6), 
    Exits numeric(7),
    primary key (Station)
);

create table octRiders (
    Station varchar(32), 
    RM numeric(6), 
    EN numeric(6), 
    EP numeric(6), 
    NB numeric(6), 
    BK numeric(6), 
    "AS" numeric(6), 
    MA numeric(6), 
    "19" numeric(6), 
    "12" numeric(6), 
    LM numeric(6), 
    FV numeric(6), 
    CL numeric(6), 
    SL numeric(6), 
    BF numeric(6), 
    HY numeric(6), 
    SH numeric(6), 
    UC numeric(6), 
    FM numeric(6), 
    CN numeric(6), 
    PH numeric(6), 
    WC numeric(6), 
    LF numeric(6), 
    "OR" numeric(6), 
    RR numeric(6), 
    OW numeric(6), 
    EM numeric(6), 
    MT numeric(6), 
    PL numeric(6), 
    CC numeric(6), 
    "16" numeric(6), 
    "24" numeric(6), 
    GP numeric(6), 
    BP numeric(6), 
    DC numeric(6), 
    CM numeric(6), 
    CV numeric(6), 
    ED numeric(6), 
    NC numeric(6), 
    WP numeric(6), 
    SS numeric(6), 
    SB numeric(6), 
    SO numeric(6), 
    MB numeric(6), 
    WD numeric(6), 
    OA numeric(6), 
    WS numeric(6), 
    ML numeric(6), 
    BE numeric(6), 
    PC numeric(6), 
    AN numeric(6), 
    Exits numeric(7),
    primary key (Station)
);

create table NovRiders (
    Station varchar(32), 
    RM numeric(6), 
    EN numeric(6), 
    EP numeric(6), 
    NB numeric(6), 
    BK numeric(6), 
    "AS" numeric(6), 
    MA numeric(6), 
    "19" numeric(6), 
    "12" numeric(6), 
    LM numeric(6), 
    FV numeric(6), 
    CL numeric(6), 
    SL numeric(6), 
    BF numeric(6), 
    HY numeric(6), 
    SH numeric(6), 
    UC numeric(6), 
    FM numeric(6), 
    CN numeric(6), 
    PH numeric(6), 
    WC numeric(6), 
    LF numeric(6), 
    "OR" numeric(6), 
    RR numeric(6), 
    OW numeric(6), 
    EM numeric(6), 
    MT numeric(6), 
    PL numeric(6), 
    CC numeric(6), 
    "16" numeric(6), 
    "24" numeric(6), 
    GP numeric(6), 
    BP numeric(6), 
    DC numeric(6), 
    CM numeric(6), 
    CV numeric(6), 
    ED numeric(6), 
    NC numeric(6), 
    WP numeric(6), 
    SS numeric(6), 
    SB numeric(6), 
    SO numeric(6), 
    MB numeric(6), 
    WD numeric(6), 
    OA numeric(6), 
    WS numeric(6), 
    ML numeric(6), 
    BE numeric(6), 
    PC numeric(6), 
    AN numeric(6), 
    Exits numeric(7),
    primary key (Station)
);

"""

cursor.execute(query)

connection.commit()

In [30]:
connection.rollback()

query = """

copy septRiders
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/Sept2023Riders.csv' delimiter ',' NULL '' csv header;

copy octRiders
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/Oct2023Riders.csv' delimiter ',' NULL '' csv header;

copy novRiders
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/Nov2023Riders.csv' delimiter ',' NULL '' csv header;




"""

cursor.execute(query)

connection.commit()

In [31]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select * 
from septRiders;

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

,station,rm,en,ep,nb,bk,AS,ma,19,12,...,so,mb,wd,oa,ws,ml,be,pc,an,exits
0,RM,485,1927,1768,994,7022,1359,2168,1618,1878,...,1181,383,77,251,299,178,266,144,274,57781
1,EN,2022,514,1797,1250,10827,1735,2859,3593,4698,...,1684,772,181,674,491,339,560,80,220,93389
2,EP,1827,1635,289,835,8263,1192,1719,2368,2563,...,1317,298,93,458,191,186,278,50,68,52223
3,NB,1127,1080,855,320,2279,803,1172,1895,1881,...,1584,367,51,526,194,188,246,51,79,44240
4,BK,7984,11378,8742,2688,1083,4049,4713,5935,6379,...,2872,1757,534,1317,832,1703,2523,245,589,145031
5,AS,1497,1708,1265,800,3883,335,1093,2114,2149,...,1153,311,48,393,199,276,359,82,161,50881
6,MA,2562,2758,1643,1132,4519,1062,510,2495,2395,...,1890,463,252,493,482,510,652,537,1605,92764
7,19,1731,3733,2404,1971,5588,2222,2518,541,542,...,1771,866,561,521,772,896,1059,412,1367,115095
8,12,2058,4683,2517,1903,5714,2129,2408,530,630,...,2606,894,400,662,676,724,1022,482,1892,120430
9,LM,596,987,625,607,2497,737,768,422,407,...,447,133,1143,464,943,651,816,129,405,73259
10,FV,1452,1864,722,875,3506,1595,2507,1943,1749,...,940,240,992,255,1110,663,993,132,356,98067
11,CL,1350,1593,783,817,2403,1108,2258,2113,2506,...,494,313,1143,638,983,1049,1444,199,765,76121
12,SL,611,930,270,430,2150,630,1637,2135,3040,...,567,107,916,209,1143,833,1127,100,357,80350
13,BF,232,524,253,294,1761,410,1010,1532,2385,...,378,163,899,158,1119,693,823,85,134,64106
14,HY,493,877,265,321,1659,433,1078,1677,1971,...,216,158,552,147,1642,1445,1677,142,404,55375
15,SH,302,208,134,109,1135,238,618,866,1137,...,158,62,339,190,1353,626,1140,49,127,33531
16,UC,177,413,208,224,1829,303,712,1292,1839,...,359,53,445,245,1738,1548,1731,41,89,45725
17,FM,251,445,231,247,1709,254,708,1171,1558,...,601,48,333,283,2031,2231,2581,26,152,49778
18,CN,430,470,238,256,1231,292,1869,1860,2090,...,1990,264,79,490,81,170,245,1673,2412,62557
19,PH,155,235,221,154,1296,234,1363,2112,2294,...,2465,148,43,618,97,143,171,537,1024,56003
20,WC,409,531,319,292,1548,211,1748,2460,2392,...,3052,192,51,648,57,150,177,849,1583,66084
21,LF,185,165,193,114,816,133,675,1218,1180,...,1773,84,16,321,35,40,87,202,451,38182
22,OR,143,163,89,116,521,85,503,973,987,...,1255,51,37,184,17,54,81,194,198,28738
23,RR,349,433,400,251,479,207,986,2146,1772,...,2446,163,55,271,102,127,128,273,616,59402
24,OW,514,463,123,157,1093,305,780,910,1113,...,1886,409,145,143,149,110,166,148,273,80607
25,EM,5680,10215,6505,7509,12081,7132,11833,16074,14774,...,7190,5662,7094,1653,2481,3497,3838,1014,6243,396912
26,MT,4845,8647,5333,5370,9344,5807,9885,12157,11149,...,8063,6432,4065,1168,1981,3061,2939,884,4797,327269
27,PL,5588,9078,3719,3485,8732,4141,7662,9229,10108,...,22904,4949,2494,1360,1265,1842,1776,1211,4032,307172
28,CC,3571,6379,3282,4057,6238,4529,7360,8866,7526,...,7766,4722,1587,651,888,1290,1324,760,3557,218995
29,16,2383,2926,1346,1903,3829,2225,4521,5499,4220,...,5257,3037,697,337,405,380,653,371,1441,146458
30,24,2767,2377,1009,1207,3326,1573,3172,3842,3046,...,3343,2507,398,304,256,281,372,212,987,139386
31,GP,680,839,359,482,1790,449,922,1652,1487,...,2330,1435,227,237,144,132,150,128,535,78625
32,BP,870,1164,416,410,1226,481,921,1183,1686,...,1831,1950,272,112,166,202,204,224,549,100335
33,DC,1550,2508,732,425,1465,571,987,1582,1886,...,4006,3985,413,194,229,414,410,373,1076,115359
34,CM,238,289,111,122,498,90,199,381,704,...,1468,1349,18,17,22,16,17,70,367,37092
35,CV,115,111,78,52,544,85,200,446,351,...,293,72,1162,134,166,119,143,4,22,29438
36,ED,174,285,167,131,1404,219,594,1345,1756,...,2186,219,593,1093,346,604,742,27,70,74723
37,NC,79,98,38,40,214,43,309,424,581,...,701,38,3,184,32,26,79,367,403,14814
38,WP,206,242,106,108,752,201,1466,1075,1692,...,1556,146,16,316,112,88,114,293,481,45828
39,SS,205,357,91,69,465,106,236,461,771,...,901,792,28,32,45,17,26,18,276,32878
40,SB,325,410,151,91,425,164,273,557,697,...,1951,493,67,40,24,12,32,89,318,36062
41,SO,1312,1556,1270,1635,2657,1040,1904,1633,2108,...,2198,6729,526,305,191,170,102,172,1525,103521
42,MB,401,675,333,341,1867,361,509,796,823,...,8015,1009,80,52,5,18,6,72,225,52621
43,WD,91,214,78,47,526,61,335,620,526,...,618,67,235,477,137,305,404,30,41,31147
44,OA,189,530,383,456,1180,334,372,463,500,...,343,47,347,243,104,189,145,47,282,17245
45,WS,301,431,184,211,861,200,463,808,703,...,217,8,89,108,341,1787,1896,40,101,28700
46,ML,212,334,177,244,1965,297,481,878,716,...,241,12,253,193,1807,579,665,30,157,31548
47,BE,289,599,246,274,2936,434,709,1122,1021,...,208,12,392,207,2235,624,527,31,137,38929
48,PC,149,54,41,46,238,93,478,368,371,...,161,67,15,61,33,28,43,58,537,12989
49,AN,268,285,59,68,572,149,1577,1355,1901,...,1516,223,38,421,131,167,154,640,405,44958
50,Entries,61430,90320,52568,45940,139946,52846,95748,118735,122638,...,120348,54661,30494,20458,30282,31381,37113,14027,44165,4202723

### Create the Neo4j Bart Map

#### First, the supplemental functions we will use

In [34]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [35]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [36]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [37]:
def my_neo4j_create_node(station_name):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Station {name: $station_name})
    
    """
    
    session.run(query, station_name=station_name)

In [38]:
def my_neo4j_create_relationship_one_way(from_station, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [39]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

#### Next, creating the actual graph itself

In [49]:
my_neo4j_wipe_out_database()

In [50]:
## This section adds the stations (a departure and arrival node for each one)
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node('depart ' + station)
    my_neo4j_create_node('arrive ' + station)
    
    
    
## This section adds the lines, and a relationship from each line at a station to the departure and arrival nodes  
connection.rollback()

query = """

select 
    station,
    line
from lines
order by station, line

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    line = row[1]
    
    my_neo4j_create_node(line + ' ' + station)
    
    my_neo4j_create_relationship_one_way('depart ' + station,line + ' ' + station,0)
    my_neo4j_create_relationship_one_way(line + ' ' + station,'arrive ' + station,0)
    
    
## This section adds the transfers between lines at each station
connection.rollback()

query = """

select
    station,
    from1.line as from_line,
    to1.line as to_line,
    transfer_time
from lines as from1
    join lines as to1
        using(station)
    join stations
        using(station)
        
where from1.line != to1.line
    
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    from_line = row[1]
    to_line = row[2]
    transfer_time = row[3]
    
    my_neo4j_create_relationship_one_way(from_line + ' ' + station,to_line + ' ' + station,int(transfer_time))
    
    
## This section adds the relationship between adjacent stations on the same line
connection.rollback()

query = """

select
    from1.line,
    from1.station as from_station,
    to1.station as to_station,
    travel_time
from lines as from1
    join lines as to1
        on from1.line = to1.line
        and from1.sequence + 1 = to1.sequence
    join travel_times
        on (from1.station = station_1 and to1.station = station_2)
            or (from1.station = station_2 and to1.station = station_1)
    

order by 1, 2, 3


"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    line = row[0]
    from_station = row[1]
    to_station = row[2]
    travel_time = row[3]
    
    my_neo4j_create_relationship_two_way(line + ' ' + from_station, line + ' ' + to_station, int(travel_time))

In [51]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 652
-------------------------