# Project 3: Neo4j Code Portion

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

## Group: Kara Christensen, Negin Djalali, Gray Selby, Yidai Yao

### Start with setup code (importing libraries and setting up connections

In [1]:
import neo4j

import csv
import json
import openpyxl

import math
import numpy as np
import pandas as pd

import psycopg2

#### Postgres

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

#### Neo4j

In [4]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [5]:
session = driver.session(database="neo4j")

### Load in Ridership Data from BART

We incorporate BART ridership data. We consider September through November 2023 ridership, we use the average number of exits per station. We sourced the data from:https://www.bart.gov/about/reports/ridership.

We will use this additional information when considering where to place BART pickup locations.

In [6]:
def my_export_excel_work_book_sheet_to_csv(excel_file_name, sheet_name, csv_file_name):
    "open the excel file, find the sheet_name, export to csv file "
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nExtracting Work Sheet", sheet_name, "to", csv_file_name, "\n")
    
    f = open(csv_file_name, "w")    
    writer = csv.writer(f)
    writer.writerows(work_sheet_list)
    f.close()

In [7]:
my_export_excel_work_book_sheet_to_csv('station-names.xlsx', 'DAS Station Codes', 'station-names.csv')

Excel Workbook: station-names.xlsx

Work Sheet: DAS Station Codes

Number of Columns: 2

Number of Rows: 51

Extracting Work Sheet DAS Station Codes to station-names.csv

In [8]:
my_export_excel_work_book_sheet_to_csv('Ridership_202309.xlsx', 'Total Trips OD', 'Sept2023Riders.csv')
my_export_excel_work_book_sheet_to_csv('Ridership_202310.xlsx', 'Total Trips OD', 'Oct2023Riders.csv')
my_export_excel_work_book_sheet_to_csv('Ridership_202311.xlsx', 'Total Trips OD', 'Nov2023Riders.csv')

Excel Workbook: Ridership_202309.xlsx

Work Sheet: Total Trips OD

Number of Columns: 52

Number of Rows: 52

Extracting Work Sheet Total Trips OD to Sept2023Riders.csv


Excel Workbook: Ridership_202310.xlsx

Work Sheet: Total Trips OD

Number of Columns: 52

Number of Rows: 52

Extracting Work Sheet Total Trips OD to Oct2023Riders.csv


Excel Workbook: Ridership_202311.xlsx

Work Sheet: Total Trips OD

Number of Columns: 52

Number of Rows: 52

Extracting Work Sheet Total Trips OD to Nov2023Riders.csv

In [9]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [10]:
#
# drop all the temp tables in the foreign key order
#

connection.rollback()

query = """

drop table if exists septRiders;
drop table if exists octRiders;
drop table if exists novRiders;
drop table if exists stationNames;

"""

cursor.execute(query)

connection.commit()

In [11]:
#
# create all the temp tables in the foreign key order
#

connection.rollback()

query = """

create table septRiders (
    Station varchar(32), 
    Richmond numeric(6), 
    "El Cerrito Del Norte" numeric(6), 
    "El Cerrito Plaza" numeric(6), 
    "North Berkeley" numeric(6), 
    Berkeley numeric(6), 
    Ashby numeric(6), 
    MacArthur numeric(6), 
    "19th St Oakland" numeric(6), 
    "12th Street/ Oakland City Center" numeric(6), 
    "Lake Merrit" numeric(6), 
    "Fruitvale" numeric(6), 
    Coliseum numeric(6), 
    "San Leandro" numeric(6), 
    Bayfair numeric(6), 
    Hayward numeric(6), 
    "South Hayward" numeric(6), 
    "Union City" numeric(6), 
    Fremont numeric(6), 
    Concord numeric(6), 
    "Pleasant Hill" numeric(6), 
    "Walnut Creek" numeric(6), 
    Lafayette numeric(6), 
    Orinda numeric(6), 
    Rockridge numeric(6), 
    "West Oakland" numeric(6), 
    Embarcadero numeric(6), 
    "Montgomery Street" numeric(6), 
    "Powell Street" numeric(6), 
    "Civic Center" numeric(6), 
    "16th Street Mission" numeric(6), 
    "24th Street Mission" numeric(6), 
    "Glen Park" numeric(6), 
    "Balboa Park" numeric(6), 
    "Daly City" numeric(6), 
    Colma numeric(6), 
    "Castro Valley" numeric(6), 
    "Dublin/Pleasanton" numeric(6), 
    "North Concord" numeric(6), 
    "Pittsburg/Bay Point" numeric(6), 
    "South San Francisco" numeric(6), 
    "San Bruno" numeric(6), 
    "San Francisco International Airport" numeric(6), 
    Millbrae numeric(6), 
    "West Dublin/Pleasanton" numeric(6), 
    "Oakland International Airport" numeric(6), 
    "Warm Springs" numeric(6), 
    "Milpitas" numeric(6), 
    "Berryessa/North San Jose" numeric(6), 
    "Pittsburg Center" numeric(6), 
    "Antioch" numeric(6), 
    Exits numeric(7),
    primary key (Station)
);

create table octRiders (
    Station varchar(32), 
    Richmond numeric(6), 
    "El Cerrito Del Norte" numeric(6), 
    "El Cerrito Plaza" numeric(6), 
    "North Berkeley" numeric(6), 
    Berkeley numeric(6), 
    Ashby numeric(6), 
    MacArthur numeric(6), 
    "19th St Oakland" numeric(6), 
    "12th Street/ Oakland City Center" numeric(6), 
    "Lake Merrit" numeric(6), 
    "Fruitvale" numeric(6), 
    Coliseum numeric(6), 
    "San Leandro" numeric(6), 
    Bayfair numeric(6), 
    Hayward numeric(6), 
    "South Hayward" numeric(6), 
    "Union City" numeric(6), 
    Fremont numeric(6), 
    Concord numeric(6), 
    "Pleasant Hill" numeric(6), 
    "Walnut Creek" numeric(6), 
    Lafayette numeric(6), 
    Orinda numeric(6), 
    Rockridge numeric(6), 
    "West Oakland" numeric(6), 
    Embarcadero numeric(6), 
    "Montgomery Street" numeric(6), 
    "Powell Street" numeric(6), 
    "Civic Center" numeric(6), 
    "16th Street Mission" numeric(6), 
    "24th Street Mission" numeric(6), 
    "Glen Park" numeric(6), 
    "Balboa Park" numeric(6), 
    "Daly City" numeric(6), 
    Colma numeric(6), 
    "Castro Valley" numeric(6), 
    "Dublin/Pleasanton" numeric(6), 
    "North Concord" numeric(6), 
    "Pittsburg/Bay Point" numeric(6), 
    "South San Francisco" numeric(6), 
    "San Bruno" numeric(6), 
    "San Francisco International Airport" numeric(6), 
    Millbrae numeric(6), 
    "West Dublin/Pleasanton" numeric(6), 
    "Oakland International Airport" numeric(6), 
    "Warm Springs" numeric(6), 
    "Milpitas" numeric(6), 
    "Berryessa/North San Jose" numeric(6), 
    "Pittsburg Center" numeric(6), 
    "Antioch" numeric(6), 
    Exits numeric(7),
    primary key (Station)
);

create table NovRiders (
    Station varchar(32), 
    Richmond numeric(6), 
    "El Cerrito Del Norte" numeric(6), 
    "El Cerrito Plaza" numeric(6), 
    "North Berkeley" numeric(6), 
    Berkeley numeric(6), 
    Ashby numeric(6), 
    MacArthur numeric(6), 
    "19th St Oakland" numeric(6), 
    "12th Street/ Oakland City Center" numeric(6), 
    "Lake Merrit" numeric(6), 
    "Fruitvale" numeric(6), 
    Coliseum numeric(6), 
    "San Leandro" numeric(6), 
    Bayfair numeric(6), 
    Hayward numeric(6), 
    "South Hayward" numeric(6), 
    "Union City" numeric(6), 
    Fremont numeric(6), 
    Concord numeric(6), 
    "Pleasant Hill" numeric(6), 
    "Walnut Creek" numeric(6), 
    Lafayette numeric(6), 
    Orinda numeric(6), 
    Rockridge numeric(6), 
    "West Oakland" numeric(6), 
    Embarcadero numeric(6), 
    "Montgomery Street" numeric(6), 
    "Powell Street" numeric(6), 
    "Civic Center" numeric(6), 
    "16th Street Mission" numeric(6), 
    "24th Street Mission" numeric(6), 
    "Glen Park" numeric(6), 
    "Balboa Park" numeric(6), 
    "Daly City" numeric(6), 
    Colma numeric(6), 
    "Castro Valley" numeric(6), 
    "Dublin/Pleasanton" numeric(6), 
    "North Concord" numeric(6), 
    "Pittsburg/Bay Point" numeric(6), 
    "South San Francisco" numeric(6), 
    "San Bruno" numeric(6), 
    "San Francisco International Airport" numeric(6), 
    Millbrae numeric(6), 
    "West Dublin/Pleasanton" numeric(6), 
    "Oakland International Airport" numeric(6), 
    "Warm Springs" numeric(6), 
    "Milpitas" numeric(6), 
    "Berryessa/North San Jose" numeric(6), 
    "Pittsburg Center" numeric(6), 
    "Antioch" numeric(6), 
    Exits numeric(7),
    primary key (Station)
);

create table stationNames (
    "Two-Letter Station Code" char(2),
    "Station Name" varchar(100),
    primary key ("Station Name")
);

"""

cursor.execute(query)

connection.commit()

In [12]:
connection.rollback()

query = """

copy septRiders
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/Sept2023Riders.csv' delimiter ',' NULL '' csv header;

copy octRiders
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/Oct2023Riders.csv' delimiter ',' NULL '' csv header;

copy novRiders
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/Nov2023Riders.csv' delimiter ',' NULL '' csv header;

copy stationNames
from '/user/projects/ChristensenDjalaliSelbyYaoProject3/code/station-names.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [13]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select 
    stationNames."Station Name",
    septRiders.exits
from septRiders
    left join stationNames
        on stationNames."Two-Letter Station Code" = septRiders.station
        
order by 1

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

            Station Name    exits
0            12th Street   120430
1    16th Street Mission   146458
2            19th Street   115095
3    24th Street Mission   139386
4                Antioch    44958
5                  Ashby    50881
6            Balboa Park   100335
7               Bay Fair    64106
8              Berryessa    38929
9          Castro Valley    29438
10          Civic Center   218995
11              Coliseum    76121
12                 Colma    37092
13               Concord    62557
14             Daly City   115359
15     Downtown Berkeley   145031
16                Dublin    74723
17  El Cerrito del Norte    93389
18      El Cerrito Plaza    52223
19           Embarcadero   396912
20               Fremont    49778
21             Fruitvale    98067
22             Glen Park    78625
23               Hayward    55375
24             Lafayette    38182
25          Lake Merritt    73259
26             MacArthur    92764
27              Millbrae    52621
28              Milpitas    31548
29     Montgomery Street   327269
30        North Berkeley    44240
31         North Concord    14814
32                   OAK    17245
33                Orinda    28738
34             Pittsburg    45828
35      Pittsburg Center    12989
36         Pleasant Hill    56003
37         Powell Street   307172
38              Richmond    57781
39             Rockridge    59402
40             San Bruno    36062
41           San Leandro    80350
42                   SFO   103521
43         South Hayward    33531
44   South San Francisco    32878
45            Union City    45725
46          Walnut Creek    66084
47          Warm Springs    28700
48           West Dublin    31147
49          West Oakland    80607
50                  None  4202723

In [14]:
rollback_before_flag = True
rollback_after_flag = True

query = """
with allMonths as 
    (select 
        stations.station,
        septRiders.exits as september_Exits,
        octRiders.exits as october_Exits,
        novRiders.exits as november_Exits
    from stations
        join stationNames
            on stationNames."Station Name" = stations.station
        join septRiders 
            on stationNames."Two-Letter Station Code" = septRiders.station
        join octRiders 
            on stationNames."Two-Letter Station Code" = octRiders.station
        join novRiders 
            on stationNames."Two-Letter Station Code" = novRiders.station
    )

select
    station,
    ROUND((september_exits + october_exits+november_exits)/3)::INTEGER as avg_exits
from allMonths

order by station

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

                 station  avg_exits
0            12th Street     118680
1    16th Street Mission     149587
2            19th Street     115691
3    24th Street Mission     143224
4                Antioch      43370
5                  Ashby      50593
6            Balboa Park     101316
7               Bay Fair      63190
8              Berryessa      38771
9          Castro Valley      29423
10          Civic Center     225182
11              Coliseum      63461
12                 Colma      36834
13               Concord      61463
14             Daly City     114986
15     Downtown Berkeley     144920
16                Dublin      72497
17  El Cerrito del Norte      93804
18      El Cerrito Plaza      52378
19           Embarcadero     400825
20               Fremont      50269
21             Fruitvale      98468
22             Glen Park      80051
23               Hayward      55130
24             Lafayette      37860
25          Lake Merritt      73707
26             MacArthur      93280
27              Millbrae      51616
28              Milpitas      31655
29     Montgomery Street     328108
30        North Berkeley      44827
31         North Concord      14609
32                   OAK      17277
33                Orinda      29008
34             Pittsburg      46681
35      Pittsburg Center      12682
36         Pleasant Hill      56667
37         Powell Street     303280
38              Richmond      58001
39             Rockridge      61136
40             San Bruno      37212
41           San Leandro      80690
42                   SFO     101409
43         South Hayward      33676
44   South San Francisco      33743
45            Union City      45138
46          Walnut Creek      66329
47          Warm Springs      29091
48           West Dublin      30439
49          West Oakland      82799

### Create the Neo4j Bart Map

#### First, the supplemental functions we will use

In [15]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [16]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [17]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [18]:
def my_neo4j_create_node(station_name, numRiders, trueStation):
    "create a node with label Station"
    
    if numRiders != 0:
        query = """

        CREATE (:Station {name: $station_name, numRiders: $numRiders, trueStation: $trueStation})

        """
        session.run(query, station_name=station_name, numRiders = numRiders, trueStation = trueStation)
    else:
        query = """

        CREATE (:Station {name: $station_name, trueStation: $trueStation})

        """
    
        session.run(query, station_name=station_name, trueStation = trueStation)

In [19]:
def my_neo4j_create_relationship_one_way(from_station, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [20]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [21]:
def my_neo4j_nodes_relationships():
    "print all the nodes and relationships"
   
    print("-------------------------")
    print("  Nodes:")
    print("-------------------------")
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    display(df)
    
    print("-------------------------")
    print("  Relationships:")
    print("-------------------------")
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    display(df)
    
    density = (2 * number_relationships) / (number_nodes * (number_nodes - 1))
    
    print("-------------------------")
    print("  Density:", f'{density:.1f}')
    print("-------------------------")

#### Next, creating the actual graph itself

In [22]:
my_neo4j_wipe_out_database()

In [23]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

In [24]:
## This section adds the stations (a departure and arrival node for each one)
connection.rollback()

query = """

with allMonths as 
    (select 
        stations.station,
        septRiders.exits as september_Exits,
        octRiders.exits as october_Exits,
        novRiders.exits as november_Exits
    from stations
        join stationNames
            on stationNames."Station Name" = stations.station
        join septRiders 
            on stationNames."Two-Letter Station Code" = septRiders.station
        join octRiders 
            on stationNames."Two-Letter Station Code" = octRiders.station
        join novRiders 
            on stationNames."Two-Letter Station Code" = novRiders.station
    )

select
    station,
    ROUND((september_exits + october_exits+november_exits)/3)::INTEGER as avg_exits
from allMonths

order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    numRide = row[1]
    
    my_neo4j_create_node('depart ' + station, numRide, station)
    my_neo4j_create_node('arrive ' + station, numRide, station)

In [25]:
## This section adds the lines, and a relationship from each line at a station to the departure and arrival nodes  
connection.rollback()

query = """

select 
    station,
    line
from lines
order by station, line

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    line = row[1]
    
    my_neo4j_create_node(line + ' ' + station, 0, station)
    
    my_neo4j_create_relationship_one_way('depart ' + station,line + ' ' + station,0)
    my_neo4j_create_relationship_one_way(line + ' ' + station,'arrive ' + station,0)

In [26]:
## This section adds the transfers between lines at each station
connection.rollback()

query = """

select
    station,
    from1.line as from_line,
    to1.line as to_line,
    transfer_time
from lines as from1
    join lines as to1
        using(station)
    join stations
        using(station)
        
where from1.line != to1.line
    
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    from_line = row[1]
    to_line = row[2]
    transfer_time = row[3]
    
    my_neo4j_create_relationship_one_way(from_line + ' ' + station,to_line + ' ' + station, int(transfer_time))

In [27]:
## This section adds the relationship between adjacent stations on the same line
connection.rollback()

query = """

select
    from1.line,
    from1.station as from_station,
    to1.station as to_station,
    travel_time
from lines as from1
    join lines as to1
        on from1.line = to1.line
        and from1.sequence + 1 = to1.sequence
    join travel_times
        on (from1.station = station_1 and to1.station = station_2)
            or (from1.station = station_2 and to1.station = station_1)
    

order by 1, 2, 3


"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    line = row[0]
    from_station = row[1]
    to_station = row[2]
    travel_time = row[3]
    
    my_neo4j_create_relationship_two_way(line + ' ' + from_station, line + ' ' + to_station, int(travel_time))

In [28]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 652
-------------------------

In [29]:
my_neo4j_nodes_relationships()

-------------------------
  Nodes:
-------------------------

                      node_name     labels
0            arrive 12th Street  [Station]
1    arrive 16th Street Mission  [Station]
2            arrive 19th Street  [Station]
3    arrive 24th Street Mission  [Station]
4                arrive Antioch  [Station]
..                          ...        ...
209                  yellow SFO  [Station]
210            yellow San Bruno  [Station]
211  yellow South San Francisco  [Station]
212         yellow Walnut Creek  [Station]
213         yellow West Oakland  [Station]

[214 rows x 2 columns]

-------------------------
  Relationships:
-------------------------

,node_name_1,node_1_labels,relationship_type,node_name_2,node_2_labels
0,blue 16th Street Mission,[Station],LINK,arrive 16th Street Mission,[Station]
1,blue 16th Street Mission,[Station],LINK,blue 24th Street Mission,[Station]
2,blue 16th Street Mission,[Station],LINK,blue Civic Center,[Station]
3,blue 16th Street Mission,[Station],LINK,green 16th Street Mission,[Station]
4,blue 16th Street Mission,[Station],LINK,red 16th Street Mission,[Station]
...,...,...,...,...,...
647,yellow West Oakland,[Station],LINK,blue West Oakland,[Station]
648,yellow West Oakland,[Station],LINK,green West Oakland,[Station]
649,yellow West Oakland,[Station],LINK,red West Oakland,[Station]
650,yellow West Oakland,[Station],LINK,yellow 12th Street,[Station]
651,yellow West Oakland,[Station],LINK,yellow Embarcadero,[Station]

-------------------------
  Density: 0.0
-------------------------

### Algorithm 1

Selecting BART pickup locations by betweenness centrality algorithm. We then further evaluate using the additional ridership data.

In [30]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

query = """

CALL gds.betweenness.stream('ds_graph', {relationshipWeightProperty: 'weight'})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS name, score as betweenness
ORDER BY betweenness DESC

"""

results = my_neo4j_run_query_pandas(query)

results = results[~results['name'].str.contains('arrive')]
results = results[~results['name'].str.contains('depart')]
results['name'] = results['name'].str.extract('^[\w]* ([\w\s]*)')
includingCloseness = results.groupby(['name'], 
                as_index = False).mean().sort_values(by = 'betweenness', 
                                                     ascending = False).reset_index(drop = True)[:15]

includingCloseness

                 name  betweenness
0           Rockridge  5509.000000
1           MacArthur  5239.000000
2              Orinda  4997.000000
3           Lafayette  4469.000000
4        Walnut Creek  3925.000000
5         12th Street  3752.333333
6        Lake Merritt  3723.000000
7        West Oakland  3647.750000
8            Coliseum  3603.750000
9         19th Street  3535.000000
10          Fruitvale  3521.666667
11      Pleasant Hill  3365.000000
12        Embarcadero  2920.750000
13            Concord  2789.000000
14  Montgomery Street  2774.750000

In [31]:
rollback_before_flag = True
rollback_after_flag = True

query = """
with allMonths as 
    (select 
        stations.station,
        septRiders.exits as september_Exits,
        octRiders.exits as october_Exits,
        novRiders.exits as november_Exits
    from stations
        join stationNames
            on stationNames."Station Name" = stations.station
        join septRiders 
            on stationNames."Two-Letter Station Code" = septRiders.station
        join octRiders 
            on stationNames."Two-Letter Station Code" = octRiders.station
        join novRiders 
            on stationNames."Two-Letter Station Code" = novRiders.station
    )

select
    station,
    ROUND((september_exits + october_exits+november_exits)/3)::INTEGER as avg_exits
from allMonths

where station in """ + "(" + str(list(includingCloseness['name']))[1:-1] + ")"  + """


order by 2 desc

"""

df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

df[:5]

             station  avg_exits
0        Embarcadero     400825
1  Montgomery Street     328108
2        12th Street     118680
3        19th Street     115691
4          Fruitvale      98468

### Algorithm 2

Selecting BART pickup locations by closeness centrality algorithm as an additional consideration. We then further evaluate using the additional ridership data.

In [32]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

query = """

CALL gds.beta.closeness.stream('ds_graph')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS name, score as closeness
ORDER BY score DESC

"""

results = my_neo4j_run_query_pandas(query)

results = results[~results['name'].str.contains('arrive')]
results = results[~results['name'].str.contains('depart')]
results['name'] = results['name'].str.extract('^[\w]* ([\w\s]*)')
includingCloseness = results.groupby(['name'], 
                as_index = False).mean().sort_values(by = 'closeness', 
                                                     ascending = False).reset_index(drop = True)[:15]

includingCloseness

                   name  closeness
0          West Oakland   0.137729
1           12th Street   0.135047
2          Lake Merritt   0.133280
3           Embarcadero   0.132576
4           19th Street   0.127444
5     Montgomery Street   0.126801
6             Fruitvale   0.125870
7         Powell Street   0.120608
8             MacArthur   0.119942
9              Coliseum   0.117110
10         Civic Center   0.114187
11          San Leandro   0.110960
12            Rockridge   0.110284
13                Ashby   0.109433
14  16th Street Mission   0.107698

In [33]:
rollback_before_flag = True
rollback_after_flag = True

query = """
with allMonths as 
    (select 
        stations.station,
        septRiders.exits as september_Exits,
        octRiders.exits as october_Exits,
        novRiders.exits as november_Exits
    from stations
        join stationNames
            on stationNames."Station Name" = stations.station
        join septRiders 
            on stationNames."Two-Letter Station Code" = septRiders.station
        join octRiders 
            on stationNames."Two-Letter Station Code" = octRiders.station
        join novRiders 
            on stationNames."Two-Letter Station Code" = novRiders.station
    )

select
    station,
    ROUND((september_exits + october_exits+november_exits)/3)::INTEGER as avg_exits
from allMonths

where station in """ + "(" + str(list(includingCloseness['name']))[1:-1] + ")"  + """


order by 2 desc

"""

df = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

df[:5]

               station  avg_exits
0          Embarcadero     400825
1    Montgomery Street     328108
2        Powell Street     303280
3         Civic Center     225182
4  16th Street Mission     149587

## Algorithm 3

We determine the closest 15 BART stations to our HQ in Downtown Berkeley using the Single Source Shortest Path algorithm. These can serve in the initial trial of delivering from the HQ.

In [34]:
query = "CALL gds.graph.drop('ds_graph', false)"
session.run(query)

query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
session.run(query)

In [35]:
query = """

MATCH (n:Station {name: $source})
CALL gds.allShortestPaths.delta.stream('ds_graph', 
                                       {sourceNode: n,
                                        relationshipWeightProperty: 'weight',
                                        delta: 3.0
                                       }
                                      )
                                        
YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs
RETURN
    index,
    gds.util.asNode(sourceNode).name AS sourceNodeName,
    gds.util.asNode(targetNode).name AS targetNodeName,
    totalCost,
    [nodeId IN nodeIds | gds.util.asNode(nodeId).name] AS nodeNames,
    costs
ORDER BY totalCost

"""

source = "depart Downtown Berkeley"

results = my_neo4j_run_query_pandas(query, source=source)

results = results[~results['targetNodeName'].str.contains('arrive')]
results = results[~results['targetNodeName'].str.contains('depart')]
results['targetNodeName'] = results['targetNodeName'].str.extract('^[\w]* ([\w\s]*)')

closestStops = results.groupby(['targetNodeName'], 
                as_index = False).mean().sort_values(by = 'totalCost', 
                                                     ascending = True).reset_index(drop = True)[:15]

In [36]:
closestStops.drop(columns=["index"]).rename(columns={"targetNodeName": "station"})

                 station    totalCost
0      Downtown Berkeley     0.000000
1         North Berkeley   120.000000
2                  Ashby   180.000000
3       El Cerrito Plaza   300.000000
4              MacArthur   439.666667
5   El Cerrito del Norte   480.000000
6            19th Street   619.666667
7              Rockridge   719.000000
8            12th Street   739.666667
9               Richmond   780.000000
10                Orinda  1019.000000
11          Lake Merritt  1106.000000
12          West Oakland  1176.250000
13             Lafayette  1319.000000
14             Fruitvale  1386.000000

In [37]:
def my_neo4j_shortest_path(from_station, to_station):
    "given a from station and to station, run and print the shortest path"
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)

    query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
    session.run(query)

    query = """

    MATCH (source:Station {name: $source}), (target:Station {name: $target})
    CALL gds.shortestPath.dijkstra.stream(
        'ds_graph', 
        { sourceNode: source, 
          targetNode: target, 
          relationshipWeightProperty: 'weight'
        }
    )
    YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    RETURN
        gds.util.asNode(sourceNode).name AS from,
        gds.util.asNode(targetNode).name AS to,
        totalCost,
        [nodeId IN nodeIds | gds.util.asNode(nodeId).name] AS nodes,
        costs
    ORDER BY index

    """

    result = session.run(query, source=from_station, target=to_station)
    
    for r in result:
        
        total_cost = int(r['totalCost'])
        
        print("\n--------------------------------")
        print("   Total Cost: ", total_cost)
        print("   Minutes: ", round(total_cost / 60.0,1))
        print("--------------------------------")
        
        nodes = r['nodes']
        costs = r['costs']
        
        i = 0
        previous = 0
        
        for n in nodes:
            
            print(n + ", " + str(int(costs[i]) - previous)  + ", " + str(int(costs[i])))
            
            previous = int(costs[i])
            i += 1

In [38]:
my_neo4j_shortest_path('depart Dublin', 'arrive Antioch')

--------------------------------
   Total Cost:  5813
   Minutes:  96.9
--------------------------------
depart Dublin, 0, 0
blue Dublin, 0, 0
blue West Dublin, 180, 180
blue Castro Valley, 600, 780
blue Bay Fair, 240, 1020
blue San Leandro, 240, 1260
blue Coliseum, 240, 1500
orange Coliseum, 54, 1554
orange Fruitvale, 240, 1794
orange Lake Merritt, 300, 2094
orange 12th Street, 180, 2274
orange 19th Street, 120, 2394
orange MacArthur, 180, 2574
yellow MacArthur, 59, 2633
yellow Rockridge, 240, 2873
yellow Orinda, 300, 3173
yellow Lafayette, 300, 3473
yellow Walnut Creek, 300, 3773
yellow Pleasant Hill, 120, 3893
yellow Concord, 360, 4253
yellow North Concord, 180, 4433
yellow Pittsburg, 360, 4793
yellow Pittsburg Center, 600, 5393
yellow Antioch, 420, 5813
arrive Antioch, 0, 5813